<launch>
  <node name="robot_state_publisher" pkg="robot_state_publisher" ty$
 <node pkg="move_base" type="move_base" respawn="false" name="move_$

  <rosparam file="$(find jackal_navigation)/params/costmap_common_p$
  <rosparam file="$(find jackal_navigation)/params/costmap_common_p$

  <rosparam file="$(find jackal_navigation)/params/odom_nav_params/$
  <rosparam file="$(find jackal_navigation)/params/odom_nav_params/$

  <rosparam file="$(find jackal_navigation)/params/base_local_plann$
  <rosparam file="$(find jackal_navigation)/params/move_base_params$

  <param name="base_global_planner" type="string" value="navfn/Navf$
  <param name="base_local_planner" value="base_local_planner/Trajec$

  <remap from="odom" to="odometry/filtered" />
 </node>
 <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" out$
  <remap from="/scan" to="/front/scan" />
  <param name="odom_frame" value="/odom" />
  <param name="base_frame" value="chassis_link" />
  <param name="map_frame" value="map" />
 </node>

</launch>

